@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ineuxl');
  src:  url('../fonts/icomoon.eot?ineuxl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ineuxl') format('truetype'),
    url('../fonts/icomoon.woff?ineuxl') format('woff'),
    url('../fonts/icomoon.svg?ineuxl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e904";
}
.icon-arrow_forward_ios:before {
  content: "\e905";
}
.icon-location_pin:before {
  content: "\e903";
}
.icon-upload:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-zoom:before {
  content: "\e901";
}
.icon-magnifier:before {
  content: "\e901";
}
.icon-magnifying-glass:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-telephone:before {
  content: "\e902";
}
.icon-contact:before {
  content: "\e902";
}
.icon-support:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e902";
}
