.navbar {
    width: 100%;
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__brand {
        width: 242px;
        margin: auto;
        @media screen and (min-width: 1130px) {
          margin: initial;
        }
    }
}

.navbar__toggle-menu {
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 11;
    position: absolute;
    top: 1.25rem;
    left:1.25rem;
    &:focus, &:focus-visible{
      outline: none;
    }
}
  
  .navbar__menu {
    position: absolute;
    top:5rem;
    height: 100vh;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    background-color: $dark-blue;
    transition: transform 0.3s ease;
    li{
        position: relative;
        padding:0 0 4rem;
    }
  }
  
  .navbar__link,
  .navbar__menu li-content {
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
    @include mega-xl{
        font-size: 1.5rem;
    }
    &:hover{
        color:$light-blue;
    }
  }
  
  .navbar__dropdown {
    height: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: var(--bg-dropdown);
    transition: all 0.3s ease;
  }
  .navbar__dropdown .navbar__link {
    // padding: 10px var(--pd-x-navbar);
    font-size: 1.4rem !important;
  }
  
  .navbar__toggle-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: inherit;
    background-color: transparent;
    cursor: pointer;
}
  
  .navbar__menu.show {
    transform: translateX(0);
    transform: translateX(0);
    background:$dark-blue;
    height: 100vh;
    z-index: 10;
    top: 5rem;
    overflow: hidden;
    // font-size: 6.4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 6rem 2rem;
    border-top: 1px solid $white;
  }
  
  .navbar__menu.hidden {
    transform: translateX(-100%);
  }
  
  .navbar__dropdown.show {
    height: auto;
    pointer-events: all;
    padding: 1rem 1.5rem;
    li{
        padding: 1rem;
    }
  }
  
  .navbar__toggle-dropdown.rotate i {
    transform: rotate(180deg);
  }

  

  @media screen and (max-width: 1130px) {
    .navbar__link, .navbar__menu li-content{
        font-size: 1.8rem;
    }

    .navbar__dropdown .navbar__link {
        font-size: 1.8rem;
    }

    .navbar__dropdown.show li {
        padding: 1rem 0;
        border-left: 2px solid $light-blue;
        margin-bottom: .5rem;
    }

    .navbar__dropdown.show {
        padding: 1rem 1.2rem;
    }
  }
  
  @media screen and (min-width: 1130px) {
    .navbar__toggle-menu {
      display: none;
    }
  
    .navbar__menu {
      position: initial;
      width: auto;
      border-top: none;
      box-shadow: none;
      background: none;
      transform: translateX(0);
      height: auto !important;
      li{
        display: inline;
        margin-left: 25px;
        border-top: none;
        padding: 0;
      }
    }
  
    .navbar__link {
      padding: .6rem;
      color: $white;
      display: inline-block;
      position: relative;
      &:hover{
        color:$light-blue !important;
      }
    }

    .navbar__menu .active{
        // border-top:2px solid $light-blue;
        &:before{
          content: '';
          display: block;
          text-align: center;
          // position: absolute;
          width: 75%;
          // left: calc(18% - 5px);
          height: 2px;
          background-color: $light-blue;
          margin: auto;
          margin-bottom: 1rem;
        }
        
    }
  
    .navbar__toggle-dropdown {
      position: static;
      display: inline-block;
      width: auto;
      background: none;
    }
  
    .navbar__dropdown {
      position: absolute;
    //   top: 100%;
      left: 0;
      min-width: 240px;
      height: 0;
      opacity: 0;
      pointer-events: none;
    //   background: $white;
      border-top: 2px solid var(--primary);
    //   box-shadow: 0 1px 6px 3px rgba(0, 55, 133, 0.15);
      transform: translateY(5px);
      transition: transform 0.3s ease;
    }
    .navbar__dropdown li {
      display: block;
      margin-left: 0;
    }
    .navbar__dropdown .navbar__link {
      display: block;
    }
  
    .navbar__menu li:hover > .navbar__link {
      color: $light-blue;
    }
    .navbar__menu li:hover .navbar__toggle-dropdown i {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
    .navbar__menu li:hover .navbar__dropdown {
      height: auto;
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
      transition: transform 0.3s ease;
    }
  }

  @media screen and (max-width:400px){
    .navbar__link, .navbar__menu li-content {
      font-size: 1.6rem !important;
    }

    .sub-header .container .oportunidade p{
      width: 15rem;
    }
}