// Colors

$white: #fff;
$black: #000;
$dark-blue:#082e4a;
$blue:#154d7c;
$light-blue:#6fb2e3;
$green-blue:#2c5c7b;
$gray: #747474;

// Screen size definitions

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Mega Large tablets and desktops
$screen-megaxl-min: 1400px;